<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form-HelloFlash</title>
</head>
<body>
<table>
    <tr>
        <th align="left">
            <form method="post">
                {{ form.remember }}{{ form.remember.label }}<br>
                {{ form.remember0 }}{{ form.remember0.label }}<br>
                {{ form.remember1 }}{{ form.remember1.label }}<br>
                {{ form.remember2 }}{{ form.remember2.label }}<br>
                {{ form.remember3 }}{{ form.remember3.label }}<br>
                {{ form.remember4 }}{{ form.remember4.label }}<br>
                {{ form.remember5 }}{{ form.remember5.label }}<br>
                {{ form.remember6 }}{{ form.remember6.label }}<br>
                {{ form.remember7 }}{{ form.remember7.label }}<br>
                {{ form.remember8 }}{{ form.remember8.label }}<br>
                {{ form.remember9 }}{{ form.remember9.label }}<br>
                {{ form.remember10 }}{{ form.remember10.label }}<br>
                {{ form.remember11 }}{{ form.remember11.label }}<br>
                {{ form.remember12 }}{{ form.remember12.label }}<br>
                {{ form.remember13 }}{{ form.remember13.label }}<br>
                {{ form.remember14 }}{{ form.remember14.label }}<br>
                {{ form.submit }}
            </form>
        </th>
        <th>
            <script type="text/javascript">
                document.write('<ul>');
                {% for ma in mac %}

                    document.write('<li>');
                    document.write('<input type="checkbox" name="{{ ma|safe }}" value="{{ ma|safe }}"/>{{ ma|safe }}');
                    document.write('</li>');
                {% endfor %}
                document.write('</ul>');
            </script>
        </th>
        <th align="right">
            <form enctype="multipart/form-data" method="post">
                {{ form.file }}
                {{ form.submit }}<br>
            </form>
        </th>
    </tr>
</table>
    <form method="post">

    </form>
</body>
</html>